body {
    margin: 0;
    padding: 0;
    background-color: #E8E3CD;
}
.dashboard-container {
    position: relative;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}