body {
    margin: 0;
    padding: 0;
    background-color: #E8E3CD;
}
.dashboard-container {
    position: relative;
}

// .navbar {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 0;
// }

.beehive-cards-container {
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }

  .beehive-card {
    height: 300px;
    width: 300px;
    margin: 20px;
    box-sizing: border-box;
  }

  .add-card {
    height: 300px;
    width: 300px;
    margin: 20px;
    box-sizing: border-box;
  }