.graph_container {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  width: 90%;
  height: 75%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(241, 240, 238);
  border-radius: 1.75rem;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  padding: 2rem;

  @media screen and (min-width: 1600px){
    .graph_card {
      width: 18rem;
    }
  }

  @media screen and (min-width: 1600px){
    .graph_card {
      width: 18rem;
    }
  }

  @media screen and (min-width: 1600px){
    .graph_card {
      width: 18rem;
    }
  }


  

  .graph_card {
    position: relative;
    width: 17rem;
    height: 21rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.75rem;
    box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
    margin: 2rem 0;
    overflow: hidden;

    .graph {
      position: relative;
      width: 100%;
      height: 100%;
      // padding: 1rem 1rem;
      // margin: 1rem 1rem;
      overflow: hidden;
    }

    .graph_details {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      margin-left: 1rem;

      .value {
        font-size: 1.7rem;
        font-weight: bolder;
        margin-top: -1rem;
        margin-bottom: 0.5rem;
      }
    }

    .info_button {
      position: absolute;
      top: 1rem;
      right: 1rem;

      border-color: transparent;
      height: 30px;
      width: 30px;
      align-content: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 20px;
      padding-top: 2px;
      text-align: center;
      font-weight: bolder;
      cursor: pointer;
      box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.5);
      background-color: #bac0c1;
      color: #ffffff;
      &:hover {
        color: #ffffff;
        background-color: #396594;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .sort {
      display: flex;
      align-items: center;
      background-color: transparent;
      border-color: transparent;
      align-content: center;
      justify-content: flex-start;
      border-radius: 2rem;
      font-size: 0.6rem;
      padding-top: 2px;
      text-align: left;
      margin-left: 1rem;
      font-weight: bolder;
      color: #6c6a6a;

      .dropdown {
        font-size: 0.65rem;
        border-color: transparent;
        border-bottom: 1px solid rgb(2, 46, 87);

        &:hover {
          color: #0f355e;
          font-size: 0.64rem;
          font-weight: bold;
          border-color: transparent;
          border-bottom: 1px solid rgb(7, 77, 143);
        }
      }
    }
  }

  // gap: 5rem;
  // margin: 5rem 5rem;
}

.close_button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-color: rgb(194, 71, 71);
  border-color: transparent;
  height: 35px;
  width: 35px;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  padding-top: 2px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.8);
  color: #ffffff;
  &:hover {
    color: rgb(174, 88, 88);
    background-color: rgb(247, 239, 239);
  }
}

.sync_button {
  position: absolute;
  top: 6rem;
  right: 2rem;
  background-color: darken($color: rgb(54, 54, 54), $amount: 10);
  border-color: transparent;
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.8);
  padding: 0.35rem 1rem;
  width: 7rem;
  border-radius: 1.5rem;

  &:hover {
    color: darken($color: rgb(54, 54, 54), $amount: 13);
    background-color: rgb(244, 244, 244);
  }
}

.export_button {
  position: absolute;
  top: 9rem;
  right: 2rem;
  background-color: darken($color: rgb(54, 54, 54), $amount: 10);
  border-color: transparent;
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.8);
  padding: 0.35rem 1rem;
  width: 7rem;
  border-radius: 1.5rem;

  &:hover {
    color: darken($color: rgb(54, 54, 54), $amount: 13);
    background-color: rgb(244, 244, 244);
  }
}

.table_container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 1.75rem;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

.table_background {
  overflow-y: auto;
  padding: 20px;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.7em;
  border-color: transparent;
}
