.graph_container {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  width: 90%;
  height: 83%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(241, 240, 238);
  border-radius: 1.75rem;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  
  .graph_card_container{
    padding: 3rem 2rem;
    padding-top: 5rem;
    height: 83%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
  }

  @media screen and (min-width: 1600px) {
    .graph_card {
      width: 18rem;
    }
  }

  @media screen and (max-width: 1400px) {
    width: 87%;
  }
  @media screen and (max-width: 1080px) {
    width: 85%;
  }

  @media screen and (max-width: 765px) {
    width: 82%;
  }
  @media screen and (max-width: 600px) {
    width: 75%;
  }
  @media screen and (max-width: 464px) {
    width: 70%;
  }

  .topic {
    position: absolute;
    top: 0.75rem;
    left: 1.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #504f4f;
    overflow: hidden;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    background-color: rgba(241, 240, 238, 0.767);
    backdrop-filter: blur(2px);
    z-index: 99;
  }

  .video_card {
    position: relative;
    display: flex;
    width: 32rem;
    height: 11rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
    margin: 1rem 0;
    overflow: hidden;
    align-items: center;
    align-content: center;

    &:hover {
      box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.5);
      transform: translateY(-0.3rem);
      transition: transform 0.3s ease;
    }

    @media screen and (max-width: 600px) {
      width: 17rem;
      height: 17rem;
    }

    .video_container {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      font-weight: normal;
      padding: 0 0.8rem;

      .video {
        width: 15rem;
        height: 11rem;
        overflow: hidden;
        border-radius: 1rem;
        margin-top: 0.8rem;
      }

      .vl {
        margin: 0 2.8rem;
        border-left: 2px solid rgb(19, 42, 50);
        height: 11rem;
        overflow: hidden;
      }

      .video_details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        margin-left: 1rem;
        overflow: hidden;

        .value {
          font-size: 1.7rem;
          font-weight: bolder;
          margin-top: -1rem;
          margin-bottom: 0.5rem;
          overflow: hidden;
        }
      }
    }

    .info_button {
      position: absolute;
      top: 1rem;
      right: 1rem;

      border-color: transparent;
      height: 30px;
      width: 30px;
      align-content: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 20px;
      padding-top: 2px;
      text-align: center;
      font-weight: bolder;
      cursor: pointer;
      box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.5);
      background-color: #bac0c1;
      color: #ffffff;
      &:hover {
        color: #ffffff;
        background-color: #396594;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .video_click {
      cursor: pointer;
    }
  }

  .general_info_card {
    position: relative;
    width: 32rem;
    height: 11rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
    margin: 1rem 0;
    overflow: hidden;

    &:hover {
      box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.5);
      transform: translateY(-0.3rem);
      transition: transform 0.3s ease;
    }

    @media screen and (max-width: 600px) {
      width: 17rem;
      height: 17rem;
    }

    .general_info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      margin-left: 1rem;
      font-weight: 600;

      .general_info_details {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 0.5rem;
        flex-wrap: wrap;
        font-weight: normal;

        .info_box {
          border-radius: 1.75rem;
          box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.3);
          padding: 0.5rem 1.5rem;
          margin: 0.5rem 0.5rem;
          background-color: rgba(231, 242, 243, 0.913);

          &:hover {
            box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.5);
            transform: translateY(-0.2rem);
            transition: transform 0.3s ease;
          }
        }

        .key {
          font-size: 0.8rem;
        }

        .value {
          font-size: 1.4rem;
          font-weight: bolder;
          margin-top: -0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .graph_card {
    position: relative;
    width: 17rem;
    height: 21rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;
    margin: 1rem 0;
    overflow: hidden;

    &:hover {
      box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.5);
      transform: translateY(-0.3rem);
      transition: transform 0.5s ease;
    }

    .graph {
      position: relative;
      width: 100%;
      height: 100%;
      // padding: 1rem 1rem;
      // margin: 1rem 1rem;
      overflow: hidden;
    }

    .graph_details {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      margin-left: 1rem;

      .value {
        font-size: 1.7rem;
        font-weight: bolder;
        margin-top: -1rem;
        margin-bottom: 0.5rem;
      }
    }

    .info_button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      overflow: hidden;
      border-color: transparent;
      height: 30px;
      width: 30px;
      align-content: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 20px;
      padding-top: 2px;
      text-align: center;
      font-weight: bolder;
      cursor: pointer;
      box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.5);
      background-color: #bac0c1;
      color: #ffffff;
      &:hover {
        color: #ffffff;
        background-color: #396594;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .graph_click {
      cursor: pointer;
      overflow: hidden;
    }

    .sort {
      display: flex;
      align-items: center;
      background-color: transparent;
      border-color: transparent;
      align-content: center;
      justify-content: flex-start;
      border-radius: 2rem;
      font-size: 0.6rem;
      padding-top: 2px;
      text-align: left;
      margin-left: 1rem;
      font-weight: bolder;
      color: #6c6a6a;

      .dropdown {
        font-size: 0.65rem;
        border-color: transparent;
        border-bottom: 1px solid rgb(2, 46, 87);
        cursor: pointer;

        &:hover {
          color: #0f355e;
          font-size: 0.64rem;
          font-weight: bold;
          border-color: transparent;
          border-bottom: 1px solid rgb(7, 77, 143);
        }
      }
    }
  }

  // gap: 5rem;
  // margin: 5rem 5rem;
}

.close_button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-color: rgb(194, 71, 71);
  border-color: transparent;
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.8);
  color: #ffffff;
  &:hover {
    color: rgb(174, 88, 88);
    background-color: rgb(247, 239, 239);
  }

  .svg{
    text-align: center;
    vertical-align: middle;
    scale: 1.5;
  }
}

.sync_button {
  position: absolute;
  top: 6rem;
  right: 2rem;
  background-color: darken($color: rgb(54, 54, 54), $amount: 10);
  border-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.8);
  padding: 0.35rem 1rem;
  width: 7rem;
  border-radius: 1.5rem;

  .svg{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &:hover {
    color: darken($color: rgb(54, 54, 54), $amount: 13);
    background-color: rgb(244, 244, 244);
  }
}

.export_button {
  position: absolute;
  top: 9rem;
  right: 2rem;
  background-color: darken($color: rgb(54, 54, 54), $amount: 10);
  border-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.8);
  padding: 0.35rem 1rem;
  width: 7rem;
  border-radius: 1.5rem;

  &:hover {
    color: darken($color: rgb(54, 54, 54), $amount: 13);
    background-color: rgb(244, 244, 244);
  }
}

.sort_button {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 12rem;
  right: 2rem;
  background-color: darken($color: rgb(54, 54, 54), $amount: 10);
  border-color: transparent;
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.8);
  padding: 0.35rem 1rem;
  width: 8rem;
  border-radius: 1.5rem;
  padding-right: 2rem;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22lightblue%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;

  &:hover {
    color: darken($color: rgb(54, 54, 54), $amount: 13);
    background-color: rgb(244, 244, 244);
  }
}

.table_container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 1.75rem;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

.table_background {
  overflow-y: auto;
  padding: 20px;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.7em;
  border-color: transparent;
}
