@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
  }
  .landing-container {
    position: relative;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
  
  .banner-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  
  .banner-image {
    height: 100%;
    width: 100%;
    float: left;
    padding: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
  }
  
  .color-overlay {
    height: 100%;
    width: 100%;
    float: left;
    padding: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    background-color: rgba(66, 65, 65, 0.527);
    z-index: -1;
  }
  
  .content-container {
    position: absolute;
    top: 45%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: left;
    padding: 20px;
  }
  
  .content-container p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    max-width: 600px;
  }
  .content-container h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: 0 0 50px;
  }

  .hexagon-design {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: -1;
  }
  
  .hexagon-design img {
    height: 50%;
    width: 80%;
    float: right;
    padding: none;
    object-fit: cover;
    z-index: -1;
  }