@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.color-overlay-sign {
  height: 100%;
  width: 100%;
  float: left;
  padding: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  background-color: #f1bd5436;
  z-index: 1;
}

.left {
  left: 0;
  background-color: #E8E3CD;
}

.signin-banner-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.signin-banner-image {
  height: 100%;
  width: 50%;
  float: left;
  padding: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  z-index: 0;
}

.right {
  right: 0;
  background-color: #6b9dd2;
  z-index: 1;
}

.centered {
  position: absolute;
  top: 330px;
  left: 18px;
  transform: translate(10%, -350px);
  text-align: center;
  z-index: 2;
}

.centered img {
  width: 80%;
  height: 80%;
  z-index: 10000;
}

.signin-form {
  position: absolute;
  top: 46%;
  left: 54%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.signin-form img{
  width: 60%;
  height: auto;
}

.signin-form h3 {
  color: #000000;
  font-size: 23px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.256);
}

.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 40px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.351);
  border-radius: 50px;
}

.input img{
  width: 20px;
  height: 20px;
  margin: 0px 30px;
}

.input input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

.signin-button {
  margin-top: 20px;
}

.signin-button button {
  width: 170px;
  height: 30px;
  background-color: #253f65;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 50px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0px 6px 23px -6px #253f6575;
  transition: background 0.3s ease;
}

.signin-button button:hover {
  background-color: #3c66a4;
}
.change-button {
  margin-top: 20px;
}

.change-button button {
  background-color: transparent;
  color: rgb(9, 60, 155);
  font-size: 14px;
  font-weight: 600;
  padding: 10px 50px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  text-decoration: underline;
  transition: background 0.3s ease;
}

.change-button button:hover {
  color: #0a37ea;
}

.email-icon{
  padding: 2px;
  margin-top: 4px;
  margin-right: 20px;
  margin-left: 10px;
}

.invalid-warning{
  color: red;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
}

// @media screen and (max-width: 1200px) {
//   .left {
//     display: none;
//   }
//   .right {
//     width: 100%;
//   }
// }