.battery-indicator {
    border: 1px solid #333;
    height: 20px;
    width: 40px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    
    font-size: 0.6rem;
    text-align: center;
    font-weight: 600;
}

.battery-level {
    height: 100%;
    transition: width 0.5s ease;
}

.blink {
    animation: blink-animation 1s linear infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}


  