@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.navb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  padding: 0 60px;
  color: white;
  border-bottom: 1px solid #000000;
}

.navb-logo img {
  width: 150px;
  &:hover {
    transform: translateY(-0.3rem);
    transition: transform 0.3s ease;
  }
}

.navb-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  gap: 70px;
  text-decoration: none;
}

.navb-menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contact{
  &:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease;
  }
}
    
 

.navb-signout {
  border-radius: 50px;
  padding: 10px 30px;
  background: #000000;
  transition: background 0.3s ease;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.2);
}

.navb-signout a{
  color: rgb(255, 255, 255);
}

.navb-signout:hover {
  background: #4f4f4f;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.4);

}

@media (max-width: 768px) {
  .navb-menu ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menub-icon {
    display: block;
    color: black;
    cursor: pointer;
  }

  .navb-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 35px;
    right: -150px;
    background-color: #8e8e8e48;
    width: 150px;
    height: 0;
    transition: height 0.5s ease-in-out, right 0.5s ease-in-out;
    overflow: hidden;
  }

  .navb-menu.active {
    height: 100%;
    right: 0; 
  }

  .navb-menu:not(.active) {
    height: 0;
    transition: height 0.5s ease-in-out, right 0.5s ease-in-out;
  }

  .navb-menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 10px 10px 10px;
  }

  .contactb {
    margin-top: 50px;
  }

  .navb-menu ul li {
    margin: 10px 0;
    text-align: left;
  }
}