@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  padding: 0 60px;
  color: white;
  border-bottom: 1px solid #fff;
}

.nav-logo img {
  width: 150px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  gap: 70px;
  text-decoration: none;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.nav-signup {
  border-radius: 50px;
  padding: 10px 30px;
  background: #fff;
  transition: background 0.3s ease;
}

.nav-signup a{
  color: black;
}

.nav-signup:hover {
  background: #d9d9d9;
}