@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.navb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  padding: 0 60px;
  color: white;
  border-bottom: 1px solid #000000;
}

.navb-logo img {
  width: 150px;
  &:hover {
    transform: translateY(-0.3rem);
    transition: transform 0.3s ease;
  }
}

.navb-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  gap: 70px;
  text-decoration: none;
}

.navb-menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contact{
  &:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease;
  }
}
    
 

.navb-signout {
  border-radius: 50px;
  padding: 10px 30px;
  background: #000000;
  transition: background 0.3s ease;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.2);
}

.navb-signout a{
  color: rgb(255, 255, 255);
}

.navb-signout:hover {
  background: #4f4f4f;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.4);

}