/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --header-height: 3.5rem; /*56px*/

  /* Colours */
  --first-color: #fcae27;
  --first-color-alt: #fcbe27;
  --first-color-light: #fdc668;
  --first-color-lighten: #efd29f;
  --first-color-dark: #d59629;
  --title-color: #000000;
  --text-color: #5b5b5b;
  --text-color-light: #88918d;
  --body-color: #fff;
  --container-color: #fff;

  /* Font and typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margines Bottom */
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Variables Dark theme */
body.dark-theme {
  --first-color-dark: #2f3733;
  --title-color: #f2f3f2;
  --text-color: #bdc2bf;
  --body-color: #1c211f;
  --container-color: #262c29;
}

/* Button Dark/Light */
.change-theme {
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.dark-theme .features__card-description {
  color: var(--text-color-light);
}
.dark-theme .features__card-title {
  color: black;
}
.dark-theme .name {
  color: rgb(255, 255, 255);
}

.dark-theme .eportfolio{
  color: #c8c8c8;
}

.dark-theme .manual{
  color: #c8c8c8;
}

.dark-theme .social-media-links a{
  color: #ffffff;
}

.dark-theme .footer__subscribe {
  background-color: var(--container-color);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px rgba(10, 11, 10, 0.3);
}

/* CSS CLASSES */
.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container {
  max-width: 968px;
  max-width: 90%;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/* HEADER */
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.3s;
}

.nav__logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px rgba(29, 47, 39, 0.1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: 0.3s;
    z-index: var(--z-fixed);
  }
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Active link */
.active-link {
  position: relative;
  color: var(--first-color);
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/* HOME */
.home {
  padding: 3.5rem 0 2rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
  max-width: 968px;
}

.home__img {
  width: 200px;
  justify-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-2-5);
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button--link {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
}

.manual {
  font-size: 10px;
  transition: 0.3s;
}
.manual:hover {
  color: var(--first-color);
}

/* ABOUT */
.about__container {
  row-gap: 2rem;
}

.about__container.grid {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.about__img {
  width: 280px;
  justify-self: center;
}

.about__title {
  margin-bottom: var(--mb-1);
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__details {
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
}

.about__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}

/*=============== features ===============*/
.features__bg{
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.features__container{
  gap: 2rem;
  padding-top: 1rem;
}

.features__title{
  color: #000000;
}

.features__card{
  background-color: #ffefd4;
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.features__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.features__card-description{
  font-size: var(--small-font-size);
}

.features__card:hover .features__card-number{
  transform: translateY(-.25rem);
}


/* ARCHITECTURE */

.archi_img {
  position: relative;
  width: 400px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
}

.archi_title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: 0.25rem;
  text-align: center;
}

.archi_card:hover .archi_img {
  transform: translateY(-0.5rem);
}

/* DESIGN */

.design_description {
  text-align: center;
  font-size: var(--h2-font-size);
}
.design_container {
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
}

.design_container.grid {
  justify-items: center;
}

.design_card {
  display: grid;
  position: relative;
  width: 100%;
}

.design_img {
  position: relative;
  width: 600px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
}

.design_title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: 0.25rem;
  text-align: center;
}

.design_card:hover .design_img {
  transform: translateY(-0.5rem);
}

/* .design_img_sensors {
  position: relative;
  width: 600px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
} */

.design_img_rasph {
  position: relative;
  width: 450px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
}

.design_img_box {
  position: relative;
  width: 500px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
}

/* Budget Table */

.budget{
	margin: auto;
	padding: 50px;
}

.table{
	width: 80%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:12px;
}

.table th{
	background-color: var(--first-color);
	color:#ffffff;
}

/* Testing Table */

.testing{
	margin: auto;
	padding: 50px;
	/* font-family: sans-serif; */
}

.table{
	width: 80%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:12px;
}

.table th{
	background-color: var(--first-color);
	color:#ffffff;
}

.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

/* Team */

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.outer-container {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.inner-container {
  max-width: 1320px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.section-head-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 10px 0;
}

.section-subhead-text {
  font-size: 25px;
  color: rgb(153, 153, 153);
  line-height: 35px;
  max-width: 470px;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.img-wrapper {
  width: 100%;
  overflow: hidden; 
}
.circular-img {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-links {
  width: 125px;
  display: flex;
  justify-content: space-between;
}
.social-media-links a {
  color: #777474;
  font-size: 25px;
  transition: 0.3s;
}
.social-media-links a:hover {
  color: var(--first-color);
}

.name {
  font-size: 16px;
  font-weight: 600;
  color: rgb(102, 102, 102);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.eportfolio{
  font-size: 10px;
  color: #898989;
  transition: 0.3s;
}
.eportfolio:hover {
  color: var(--first-color);
}

.team-img {
  width: 70%;
  height: 70%;
}

.team-card-container {
  width: 280px;
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .outer-container {
    padding: 10px 20px 10px 20px;
  }

  .section-head-text {
    text-align: center;
  }
}

/* FOOTER */

.footer__container{
  row-gap: 3rem;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
  transform: 0.3s;
}
.footer__title:hover{
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}

/* SCROLL UP */
.scrollup {
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
}

.scrollup__icon {
  font-size: 1rem;
  color: #fff;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__img {
    width: 180px;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }

  .design_container {
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
  .features__bg{
    padding: 2rem 1rem;
  }
  .features__card{
    padding: 1.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .design_description {
    padding: 0 4rem;
  }
  .features__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu {
    margin-left: auto;
  }

  .home__container,
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    padding: 10rem 0 5rem;
  }
  .home__container {
    align-items: center;
  }
  .home__img {
    width: 280px;
    order: 1;
  }
  .footer__container{
    column-gap: 3rem;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu {
    margin-left: auto;
  }

  .section {
    padding: 8rem 0 1rem;
  }
  .section__title,
  .section__title-center {
    font-size: var(--h1-font-size);
  }

  .home {
    padding: 13rem 0 5rem;
  }
  .home__img {
    width: 350px;
  }
  .home__description {
    padding-right: 7rem;
  }

  .about__img {
    width: 380px;
  }
  .features__container{
    grid-template-columns: repeat(4, 1fr);
  }
  .features__bg{
    padding: 3.5rem 2.5rem;
  }
  .features__card-title{
    font-size: var(--normal-font-size);
  }

  .design_description {
    padding: 0 16rem;
  }
  .footer__container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__copy {
    margin: 7rem 0 2rem;
  }

  .archi_img {
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .about__container {
    column-gap: 5rem;
  }
  .scrollup {
    right: 3rem;
  }

  .about__data {
    padding-inline-end: 6rem;
  }

  .about__img {
    width: 400px;
  }

  .archi_img {
    width: 700px;
  }
}



/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


/* Testing Page */

.col {
  flex-basis: 50%;
  min-width: 250px;
}

.small-img-row{
  display: flex;
  background: #f7f7f7;
  margin: 20px 0px;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 30%;
}

.small-img {
  position: relative;
}

.small-img img {
  width: 150px;
}

.small-img-row p {
  margin-left: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

.ri-play-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: var(--first-color-lighten);
  cursor: pointer;
  transition: 0.3s;
}
.ri-play-fill:hover {
  color: var(--first-color);
}
